
     body {
        background-color: lightgrey;  
     }

     h1 {
         color: maroon;
     }

     h3 {
         color: brown;
     }
     

     hr {
         background-color: white;
         border-style: none;
         border-top-style: solid;
         border-color:  palevioletred;
         border-width: 3px;
         width: 100%;
     }
     img {
         height: 200px;
     }